<!DOCTYPE html>
{% extends 'Tourism_page.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body" style="background-colour:white">
                    <h4 class="card-title">FlightBooking</h4>
                    <p class="card-description">
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> Flight_Name </th>
                            <th> Depart </th>
                            <th> Arrive </th>
                            <th> Price </th>
                            <th> Options </th>
                          </tr>
                        {% for c in fly %}
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{c.Flight_Name}} </td>
                            <td>{{c.Depart}} </td>
                            <td>{{c.Arrive}} </td>
                            <td>{{c.Price}} </td>
                            <td>
                              <img src="{{c.Flight_Image.url}}" width="200px" height="200px">
                            </td>
                            <td>
                                <a href="{% url 'Edit_Flight' f_id=c.id %}">
                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                </a>
                                                 <a>
                                                    <button type="submit" class="btn btn-primary">Delete</button>
                                                </a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}