<!DOCTYPE html>
{% extends 'Tourism_page.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <form method="POST" action="{% url 'update_Single' b_id=sin.id %}" id="demo-form2" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        {% csrf_token %}
                        <div class="form-group">
                            <form class="forms-sample">
                            <label for="exampleInputName1">category Name <span class="required">*</span></label>
                            <select class="form-control" id="exampleSelectGender" name="category" >
                          <option>Kerala</option>
                          <option>Andaman</option>
                          <option>Lakshadweep</option>
                          <option>Kashmir</option>
                          <option>Abu Dhabi</option>
                          <option>Japan</option>
                          <option>Thailand</option>
                          <option>Bali</option>
                        </select>
                        </div>
                      <div class="form-group">
                        <label for="exampleInputName1">From-To</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="from - To" name="From_To" value="{{sin.From_To}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Duration</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Duration" name="Duration" value="{{sin.Duration}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Price</label>
                        <input type="number" class="form-control" id="exampleInputName1" placeholder="Price" name="Price" value="{{sin.Price}}">
                      </div>

<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                       <div class="form-group">
                         <label class="control-label col-md-3 col-sm-5 col-xs-15">Images <span class="required">:</span>
                        </label>
                         <div class="col-md-6 col-sm-8 col-xs-15">
                             <img src="{{sin.Place_image.url}}" width="80px" height="80px">
                        <input class="form-control" type="file" name="images" value="{{sin.images}}" id="formFileMultiple" multiple="">
                         </div>
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">City</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                      </div>-->

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
</body>
</html>
{% endblock %}